@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.ui-autocomplete{
  z-index: 1050 !important;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.font-logo{
    font-family: 'Dr Sugiyama', cursive;
    font-size: 50px;
    margin-top: -40px;
    margin-bottom: -10px;
    padding-top: -10px;
}
.font-small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.error-page{
    background-color:#FFF;
}
.img-position{
    position: absolute;
    left:50%;
    margin-left: -147px;
    
    
}
.img-home{
    width: 295px;
    height: 295px;
}
.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #6c757d;
    white-space: nowrap;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 5%;
 
}
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  #loader{
	position: absolute;
	width: 100%;
	height:100%;
	top: 0px;
	left:0px;
	background-color: #FFF;
  z-index: 999;
	
	
	
}
#loader-img{
  left:50%;
  top:50%;
  position: relative;
  margin-left:-40px; /* -1/2 width */
  margin-top:-40px; /* -1/2 height */
  background-image: url('../images/carregar.gif');
	background-position: center center;
	background-repeat: no-repeat;

}
.color-input{
    height: 37px;
}
.modal-color-receita{
    background-color: #088918;
    color:#FFF;
}
.modal-color-despesa{
    background-color: #EE4343;
    color:#FFF;
}
.modal-color-cadastro{
    background-color: #007BFF;
    color:#FFF;
}
.color-previsao{
    color: #EE4343;
}
.calendario {
    max-width: 1200px;
    margin: 0 auto;
}
.campo_pesquisa{
   height: 45px; 
}


/* tree */

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
  .color-tarefa{
    color:red;
    
  }
  .indicador_tarefa{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

  }
  .link-home{
    padding-top: 10px;
    color: #983234;
    font-weight: bold;
  }
  .size-badge{
    width: 70px;
  }
  .color-icon{
    align-items: center;
    color: #983234;
  }
  .active-personalizado{
    background-color: #983234;
    color:#FFF;
  }
