.img-logo{
  width:100%; 
  max-width:150px;
  padding-top: -30px;
  padding-bottom: -30px;;
}
.invoice {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
}

.invoice-title {
  margin-top: 0;
  text-align: center;
}
.invoice {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
.invoice-col {
  float: left;
  width: 33.3333333%;
}
.invoice-col-right {
  padding-top: 15px;;
  float: right;
  text-align: right;
}
.table-responsive {
  overflow: auto;
}
.table-responsive > .table tr th,
.table-responsive > .table tr td {
  white-space: normal !important;
}

html {
  scroll-behavior: smooth;
}

html,
body,
.wrapper {
  min-height: 100%;
}

.wrapper {
  position: relative;
}

.wrapper .content-wrapper {
  min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
}

.layout-boxed .wrapper {
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}

.layout-boxed .wrapper, .layout-boxed .wrapper::before {
  margin: 0 auto;
  max-width: 1250px;
}

.layout-boxed .wrapper .main-sidebar {
  left: inherit;
}

.layout-navbar-fixed.layout-fixed .wrapper .control-sidebar {
  top: calc(3.5rem + 1px);
}

.layout-navbar-fixed.layout-fixed .wrapper .main-header.text-sm ~ .control-sidebar {
  top: calc(2.93725rem + 1px);
}

.layout-navbar-fixed.layout-fixed .wrapper .sidebar {
  margin-top: calc(3.5rem + 1px);
}

.layout-navbar-fixed.layout-fixed .wrapper .brand-link.text-sm ~ .sidebar {
  margin-top: calc(2.93725rem + 1px);
}

.layout-navbar-fixed.layout-fixed.text-sm .wrapper .control-sidebar {
  top: calc(2.93725rem + 1px);
}

.layout-navbar-fixed.layout-fixed.text-sm .wrapper .sidebar {
  margin-top: calc(2.93725rem + 1px);
}

.layout-navbar-fixed.sidebar-collapse .wrapper .brand-link {
  height: calc(3.5rem + 1px);
  width: 4.6rem;
}

.layout-navbar-fixed.sidebar-collapse .wrapper .brand-link.text-sm {
  height: calc(2.93725rem + 1px);
}

.layout-navbar-fixed.sidebar-collapse.text-sm .wrapper .brand-link {
  height: calc(2.93725rem + 1px);
}
table {
  border-collapse: collapse;
  width: 100%;
  
}

table, th, td {
  border: 1px solid rgb(172, 172, 172);
}
th{
  height: 40px;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}
td{
  font-size: 12px;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  height: 30px;
  vertical-align: middle;
}
.align{
  text-align: center;
}
tr:nth-child(even) {background-color: #f2f2f2;}